.card {
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 50px;
    background-color: white;
}

.card > .card-content {
    padding: 5px;
}

.card > .card-title {
    text-align: center;
    font-weight: 800;
    margin: 5px 0px 5px;
    padding: 2px;
}

.card > .card-footer {
    padding: 5px;
    text-align: right;
}

.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
